@font-face {
    font-family:'Open Sans Bolt';
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family:'OpenSans-Light';
    src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family:'OpenSans-Regular';
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family:'OpenSans-Semibold';
    src: url(../fonts/OpenSans-Semibold.ttf);
}